:root {
  --primary-color: #b3011b; /* UGA RED */
}

* {
  box-sizing: border-box;
}

body,html {
    height: 100%;
}

body, h2, h4 {
  margin: 0;
  padding: 0;
}

/* Site header */
header {
  background-color: white;
  width: 100%;
  color: black;
  border-bottom: 1px solid #E0E0E0;
  height: 70px;
  display: flex;
  padding: 0px 200px;
}

header h2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: 'Peddana', serif;
  font-size: 38px;
  font-weight: 400;
  margin: 0px;
  letter-spacing: 2px;
}

header h2 a:link, a:hover, a::after {
  text-decoration: none;
  color: black;
}

header h2 a {
  text-decoration: none;
  color: black;
}


header section {
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: center;
}

.searchbox-container {
  flex-grow: 3;
}

.searchbox {
  background: #f6f5f7;
  padding: 4px 16px;
  border-radius: 25px;
  width: 100%;
  display: flex;
}

.searchbox input {
  padding: 4px;
  background-color: #f6f5f7;
  border: none;
  flex-grow: 2;
  margin-right: 5px;
  outline: none;
}

.searchbox button {
  background-color: #d8d8d8;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: grey;
}

main {
  min-height: calc(100vh - (70px) - (132px));
  background-color: #d8d8d8;
}

.button {
  background: black;
  color: white;
  border: 1px solid #272727;
  border-radius: 15px;
  padding: 6px 18px;
  outline: none;
  font-weight: bold;
}

/* Site footer */
footer {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
}

footer > div {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  padding: 15px 0;
}

footer section {
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

footer ul {
  margin: 0;
  padding: 0;
  line-height: 18px;
  margin-bottom: 20px;
}

footer section ul li{
  flex-grow: 1;
  list-style: initial;
  display: block;
  font-size: 10px;
  font-weight: 600;
}

footer section div h2 {
  font-family: 'Peddana', serif;
  font-size: 38px;
  align-items: center;
  display: flex;
}
