:root {
  --primary-color: #b3011b; /* UGA RED */
}

* {
  box-sizing: border-box;
}

body,html {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

/* Site header */
header {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  height: 70px;
  display: flex;
}

header h2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: 'Peddana', serif;
  font-size: 38px;
  font-weight: 400;
  margin: 0px;
  letter-spacing: 2px;
}

header a, header a:hover {
  color: white;
  text-decoration: none;
}

header .auth-dropdown a,
header .auth-dropdown a:hover {
  color: black;
}

header section {
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

header > div {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
}

nav > ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav > ul {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

nav > ul li:nth-child(2),
nav > ul li:nth-child(3) {
  margin-top: -5px;
}


nav .auth-dropdown {
  border: 1px solid #6d6d6d;
  background-color: #fff;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 45px;
  left: -20px;
  border-radius: 5px;
  display:none;
  z-index: 10;
}

.searchbox-container {
  flex-grow: 3;
}

.searchbox {
  background: #f6f5f7;
  padding: 4px 16px;
  border-radius: 25px;
  width: 100%;
  display: flex;
}

.searchbox form {
  display: flex;
  width: 100%;
}

#homeCarousel {
  margin-top: 15px;
}

#homeCarousel img {
  height: 400px;
}

input {
  padding: 4px;
  background-color: white;
  border: 2px solid #F0F0F0;
  flex-grow: 2;
  margin-right: 4px;
  outline: none;
  border-radius: 5px;
}

.searchbox button {
  background-color: #d8d8d8;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: grey;
}

.searchbox input {
  background-color: #f6f5f7;
}

main {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  min-height: calc(100vh - (70px) - (181px));
  font-family: 'IBM Plex Sans', sans-serif;
}

main .welcome-name {
  color: #b3011b;
  font-size: 50px;
}

main .titles{
  font-family: 'Peddana', serif;
  color: #606060;
  font-size: 40px;
}

.books {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

.button {
  background: black;
  color: white;
  border: 1px solid #272727;
  border-radius: 15px;
  padding: 6px 18px;
  outline: none;
  font-weight: bold;
}

div .view{
  float: right;
  margin-top: 8px;
}

/* Site footer */
footer {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
}

footer > div {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 15px 0;
}

footer section {
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

footer {
  line-height: 18px;
}

footer section ul li{
  flex-grow: 1;
  list-style: initial;
  display: block;
  font-size: 10px;
  font-weight: 600;
}

footer h2 {
  font-family: 'Peddana', serif;
  font-size: 38px;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 20px 0 0;
}

footer h4 {
  font-size: 18px;
  margin: 10px 0 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

HTML CSS JSResult
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url(./ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide img.slick-loading {
  background: white url(./ajax-loader.gif) center center no-repeat;
  padding-bottom: 100%;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -10px;
  background: black;
  border-radius: 50%;
  z-index: 2;
  width: 30px;
}
.slick-prev:before {
  content: '<';
}

.slick-next {
  right: -10px;
  background: black;
  border-radius: 50%;
  width: 30px;
}
.slick-next:before {
  content: '>';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}
