<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

<display-name>UGA BOOKSTORE</display-name>
	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>com.ugabookstore.userLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editBook</servlet-name>
		<servlet-class>com.ugabookstore.editBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editBook</servlet-name>
		<url-pattern>/editBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getBookList</servlet-name>
		<servlet-class>com.ugabookstore.getBookList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getBookList</servlet-name>
		<url-pattern>/getBookList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getBook</servlet-name>
		<servlet-class>com.ugabookstore.getBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getBook</servlet-name>
		<url-pattern>/getBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addBook</servlet-name>
		<servlet-class>com.ugabookstore.addBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBook</servlet-name>
		<url-pattern>/addBook</url-pattern>
	</servlet-mapping>
        <servlet>
                <servlet-name>register</servlet-name>
                <servlet-class>com.ugabookstore.register</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>register</servlet-name>
                <url-pattern>/register</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>confirm</servlet-name>
                <servlet-class>com.ugabookstore.confirm</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>confirm</servlet-name>
                <url-pattern>/confirm</url-pattern>
        </servlet-mapping>
	        <servlet>
                <servlet-name>reset</servlet-name>
                <servlet-class>com.ugabookstore.reset</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>reset</servlet-name>
                <url-pattern>/reset</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>updatepwd</servlet-name>
                <servlet-class>com.ugabookstore.updatepwd</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updatepwd</servlet-name>
                <url-pattern>/updatepwd</url-pattern>
        </servlet-mapping>


        <servlet>
                <servlet-name>updateUserInfo</servlet-name>
                <servlet-class>com.ugabookstore.updateUserInfo</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updateUserInfo</servlet-name>
                <url-pattern>/updateUserInfo</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>loggedUpdatePwd</servlet-name>
                <servlet-class>com.ugabookstore.loggedUpdatePwd</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>loggedUpdatePwd</servlet-name>
                <url-pattern>/loggedUpdatePwd</url-pattern>
        </servlet-mapping>


        <servlet>
                <servlet-name>adminLogin</servlet-name>
                <servlet-class>com.ugabookstore.adminLogin</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>adminLogin</servlet-name>
                <url-pattern>/adminLogin</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>updateAddress</servlet-name>
                <servlet-class>com.ugabookstore.updateAddress</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updateAddress</servlet-name>
                <url-pattern>/updateAddress</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>promote</servlet-name>
                <servlet-class>com.ugabookstore.promote</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>promote</servlet-name>
                <servlet-class>com.ugabookstore.promote</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>promote</servlet-name>
                <url-pattern>/promote</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>promoteToAdmin</servlet-name>
                <servlet-class>com.ugabookstore.promoteToAdmin</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>promoteToAdmin</servlet-name>
                <url-pattern>/promoteToAdmin</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>demoteAdmin</servlet-name>
                <servlet-class>com.ugabookstore.demoteAdmin</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>demoteAdmin</servlet-name>
                <url-pattern>/demoteAdmin</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>suspend</servlet-name>
                <servlet-class>com.ugabookstore.suspend</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>suspend</servlet-name>
                <url-pattern>/suspend</url-pattern>
        </servlet-mapping>

       <servlet>
             	<servlet-name>updateCard</servlet-name>
                <servlet-class>com.ugabookstore.updateCard</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updateCard</servlet-name>
                <url-pattern>/updateCard</url-pattern>
        </servlet-mapping>

       <servlet>
                <servlet-name>addCard</servlet-name>
                <servlet-class>com.ugabookstore.addCard</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>addCard</servlet-name>
                <url-pattern>/addCard</url-pattern>
        </servlet-mapping>

       <servlet>
                <servlet-name>updateCard2</servlet-name>
                <servlet-class>com.ugabookstore.updateCard2</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updateCard2</servlet-name>
                <url-pattern>/updateCard2</url-pattern>
        </servlet-mapping>

       <servlet>
                <servlet-name>updateCard3</servlet-name>
                <servlet-class>com.ugabookstore.updateCard3</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>updateCard3</servlet-name>
                <url-pattern>/updateCard3</url-pattern>
	</servlet-mapping>
		              <servlet>
		      <servlet-name>search</servlet-name>
                <servlet-class>com.ugabookstore.search</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>search</servlet-name>
                <url-pattern>/search</url-pattern>
        </servlet-mapping>

		             <servlet>
		      <servlet-name>viewBook</servlet-name>
                <servlet-class>com.ugabookstore.viewBook</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>viewBook</servlet-name>
                <url-pattern>/viewBook</url-pattern>
        </servlet-mapping>

            <servlet>
		      <servlet-name>reorder</servlet-name>
                <servlet-class>com.ugabookstore.reorder</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>reorder</servlet-name>
                <url-pattern>/reorder</url-pattern>
        </servlet-mapping>

		       <servlet>
                <servlet-name>submitPromo</servlet-name>
                <servlet-class>com.ugabookstore.submitPromo</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>submitPromo</servlet-name>
                <url-pattern>/submitPromo</url-pattern>
        </servlet-mapping>
               <servlet>
                <servlet-name>emailPromo</servlet-name>
                <servlet-class>com.ugabookstore.emailPromo</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>emailPromo</servlet-name>
                <url-pattern>/emailPromo</url-pattern>
        </servlet-mapping>

</web-app>
